Repository cncf/tag-app-delivery, pull requests merged in 2023-11, with the labels that each got.

#488 Update Kubecon Chicago schedule
  website/content/blog/2023-10-kubecon-chicago.md
Labels: events, website

#490 Announce plat eng mm
  platforms-maturity-model/v1/assets/platform-eng-maturity-model-v1.0.pdf
  platforms-maturity-model/v1/contributions.md
  website/content/blog/announcing-the-platform-engineering-maturity-model.md
  website/content/blog/assets/platforms-mm-v1-table.png
Labels: wg-platforms, website

#491 Maturity Model Blog fixes
  website/content/blog/announcing-the-platform-engineering-maturity-model.md
Labels: wg-platforms, website

#471 [Platforms] Update platforms definition graphic and provide instructions for future maintenance
  platforms-whitepaper/README.md
  platforms-whitepaper/assets/draw.io-save-dialog.png
  platforms-whitepaper/latest/assets/platform_components.png
  platforms-whitepaper/latest/assets/platforms-def.drawio.png
  platforms-whitepaper/latest/assets/platforms-def.drawio.xml
  platforms-whitepaper/latest/index.md
Labels: wg-platforms

#367 fix: Rename filename to avoid git clone error in Windows
  gitops-wg/meetings/old-committee-principles/2021-04-28-chat.txt
  gitops-wg/meetings/old-monthly/2021-03-11-chat.txt
  gitops-wg/meetings/old-monthly/2021-04-15-chat.txt
Labels: wg-gitops

#509 add Chinese translation diagram for platform white paper
  website/content/zh/wgs/platforms/whitepaper/assets/platform_components.png
  website/content/zh/wgs/platforms/whitepaper/assets/platforms-def.drawio.png
  website/content/zh/wgs/platforms/whitepaper/assets/platforms-def.drawio.xml
  website/content/zh/wgs/platforms/whitepaper/assets/platforms-def.drawio.zh.png
  website/content/zh/wgs/platforms/whitepaper/assets/platforms-def.drawio.zh.xml
  website/content/zh/wgs/platforms/whitepaper/index.md
Labels: wg-platforms, website
