Repository cncf/tag-app-delivery, pull requests merged in 2023-03, with the labels that each got.

#309 End to end review of paper + what is a platform feedback
  platforms-whitepaper/v1alpha1/paper.md
Labels: wg-platforms

#307 First glossary review
  gitops-wg/meetings/committee-events/2021-04-15-chat.txt
  platforms-whitepaper/v1alpha1/paper.md
Labels: wg-platforms

#311 [Platforms] Improve Capabilities section
  platforms-whitepaper/v1alpha1/paper.md
Labels: wg-platforms

#312 [Platforms] Clean refs
  platforms-whitepaper/v1alpha1/links.md
  platforms-whitepaper/v1alpha1/paper.md
Labels: wg-platforms

#314 add Kyverno to 'scan' section
  platforms-whitepaper/v1alpha1/assets/platform_components.png
Labels: wg-platforms

#271 Typos in operator white paper
  operator-wg/whitepaper/Operator-WhitePaper_v1-0.md
  operator-whitepaper/v1/Operator-WhitePaper_v1-0.md
  operator-whitepaper/v1/_archive/raw/03_Capabilities.md
  operator-whitepaper/v1/_archive/raw/05_Frameworks.md
  operator-whitepaper/v1/_archive/raw/07_Use_Cases.md
  operator-whitepaper/v1/_archive/raw/09_Designing_Operators.md
Labels: operators

#330 [TAG] Add custom domain name for our site
  cncf.github.io_tag-app-delivery/CNAME
Labels: tag-blog

#270 fix/typo 2
  operator-wg/whitepaper/Operator-WhitePaper_v1-0.md
  operator-whitepaper/v1/Operator-WhitePaper_v1-0.md
  operator-whitepaper/v1/_archive/raw/03_Capabilities.md
Labels: operators

#359 update GitHub issue templates
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/general.md
  .github/ISSUE_TEMPLATE/infrastructure.yaml
  .github/ISSUE_TEMPLATE/multitenancy.yaml
Labels: tag-admin

#211 [gitops-wg] Panatone equivalents of OpenGitOps logo hex colors
  gitops-wg/artwork/OGO/opengitops-panatone.png
Labels: wg-gitops
