Repository cncf/tag-app-delivery, pull requests merged in 2023-01, with the labels that each got.

#272 [TAG] Home page updates
  README.md
Labels: documentation

#289 [WG Platforms] Refine capabilities section, add "platform for cloud-native computing"
  platforms-whitepaper/v1alpha1/paper.md
Labels: wg-platforms, wg-platforms-discuss

#285 Integrate platform team challenges into general challenges
  platforms-whitepaper/v1alpha1/paper.md
Labels: wg-platforms
