Repository cncf/tag-app-delivery, pull requests merged in 2024-07, with the labels that each got.

#697 [Blog Post - WG App Delivery] Platform Engineering in 2024 - Industry Trends and Emerging Focus. An holistic proposal for Internal Developer Platforms - Platform Engineering ++changed internal platform to internale developer platform in the para…
  website/content/en/blog/2024-06-20-platform-engineering-pp.md
  website/static/images/2024-06-20-pelibrary-platform-metaphor.png
  website/static/images/2024-06-20-platform-full.png
  website/static/images/2024-06-20-platform-lifecycle.png
  website/static/images/2024-06-20-platform-zoom-out-loop.png
  website/static/images/2024-06-20-platform-zoom-out.png
Labels: wg-platforms

#677 Translate the Platform Engineering Maturity Model into Japanese
  website/content/ja/wgs/platforms/maturity-model/v1/index.md
Labels: wg-platforms

#694 Translate the Platform White Paper into Japanese
  website/content/ja/wgs/platforms/whitepaper/index.md
Labels: wg-platforms, website, language/ja

#711 Make the tab switcher of the maturity model table work in the translated version.
  platforms-maturity-model/v1/index.md
  website/content/zh/wgs/platforms/maturity-model/v1/index.md
Labels: website, language/zh

#718 [Chore] add content from readme that is missing in website (signed)
  website/content/en/wgs/platforms/_index.md
Labels: website, language/en

#713 Update info on General Meeting in translated pages
  README.md
  website/content/en/_index.md
  website/content/ja/_index.md
  website/content/ko/_index.md
  website/content/zh/_index.md
Labels: website, language/en, language/ja, language/zh, language/ko
