Repository cncf/tag-app-delivery, pull requests merged in 2024-10, with the labels that each got.

#751 add Infrastructure Lifecycle WG website content
  README.md
  website/content/en/wgs/infra-lifecycle/_index.md
  website/content/en/wgs/infra-lifecycle/charter/_index.md
  website/content/en/wgs/infra-lifecycle/glossary/_index.md
Labels: website, language/en

#757 Chore: Update meeting link for wg-platforms to lfx
  platforms-wg/README.md
  website/content/en/wgs/platforms/_index.md
  website/content/ja/wgs/platforms/_index.md
  website/content/ko/wgs/platforms/_index.md
  website/content/zh/wgs/platforms/_index.md
Labels: wg-platforms, website, language/en, language/ja, language/zh, language/ko

#761 Re-enable `languages.fr` + Translate in French the Platforms Glossary
  website/config.toml
  website/content/fr/wgs/platforms/glossary/_index.md
Labels: website

#760 Blog Post: 'Join the Infra Lifecycle WG'
  website/content/en/blog/2024-10-16-join-infrastructure-lifecycle-wg.md
Labels: website, language/en

#767 Update _index.md to remove URL
  website/content/en/wgs/app-development/charter/_index.md
Labels: website, language/en
