Repository cncf/tag-app-delivery, pull requests merged in 2025-02, with the labels that each got.

#807 Translate Platform Maturity Model to es (Spanish)
  website/content/es/wgs/platforms/maturity-model/v1/index.md
Labels: website, language/es

#798 Added german translation of platform glossary
  website/content/de/egs/platforms/glossary/_index.md
  website/i18n/de.toml
Labels: website

#806 blog composable
  website/content/en/blog/2025-01-29-composable-platforms.md
  website/content/en/blog/assets/composable_builders.png
  website/content/en/blog/assets/composable_dev.png
  website/content/en/blog/assets/composable_enablers.png
  website/content/en/blog/assets/platforms-def.drawio.png
Labels: website, language/en

#812 infra-lifecycle-wg: collect community contributions
  infra-lifecycle-wg/contributions/README.md
  infra-lifecycle-wg/contributions/abstractions-and-patterns.md
  infra-lifecycle-wg/contributions/language-paradigms.md
  infra-lifecycle-wg/contributions/state-management.md
  infra-lifecycle-wg/contributions/state.md
  infra-lifecycle-wg/contributions/testing.md
Labels: wg-infra-lifecycle
